.container-search{
    background-color: #3374DB;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-search{
    color: gray;
}

.input-group-text{
    background-color: white;
    border: none;
}

.form-control{
    border: none;
}

.filtroPesquisa{
    border: 0.5px solid rgb(187, 187, 187);
    padding: 3px;
    border-radius: 5px;
    width: max-content;
    margin-top: 10px;
    color: #3374DB;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}