<div class="container">
    <div class="row alinharCards">
        <div class="card" *ngFor="let anuncio of listagemAnuncioService.anuncioList" (click)="modalListagem.show(); listagemAnuncioService.anuncio = anuncio">
            <img class="img-fluid imagem" [src]="anuncio.foto" alt="" srcset="">
            <div class="descritivo">
                <div class="descritivo-texto">
                    <p class="veiculo">{{anuncio.fabricante}} {{anuncio.modelo}}</p>
                    <div><span class="descricao">{{anuncio.anomodelo}}</span> <span class="descricao"> - </span> <span class="descricao">{{anuncio.km}}</span> <span class="descricao">Km</span></div>
                    <div><span class="valor">R$ </span> <span class="valor">{{anuncio.valor}}</span></div>
                </div>
                <div class="descritivo-butao">
                    <button type="button" class="btn btn-primary">Detalhes</button>
                </div>
            </div> 
        </div>
    </div>
</div>

<app-modal #modalListagem ></app-modal>