<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="icone">
            <a class="navbar-brand" href="#">
                <img class="img-fluid icone" src="../../assets/img/icone.png" alt="">
            </a>
        </div>
        <div class="links">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Comprar carro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/anuncio">Vender carro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">App Kavak</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sobre nós
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Onde estamos</a></li>
                      <li><a class="dropdown-item" href="#">Guia de preços</a></li>
                      <li><a class="dropdown-item" href="#">Blog</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown nav-item-acessar">
                      <i class="bi bi-person-circle"></i>
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Minha conta</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/cadastro" *ngIf="!trocarOpcaoMenu">Cadastre-se</a></li>
                        <li><a class="dropdown-item" href="/login" *ngIf="!trocarOpcaoMenu">Iniciar sessão</a></li>
                        <li><a class="dropdown-item" *ngIf="trocarOpcaoMenu" (click)="logout()">Fechar sessão</a></li>
                      </ul>
                  </li>
                </ul>
              </div>
        </div>
      </div>
</nav>
